.navbar {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav-button {
    background-color: white;
    border: white;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.nav-button:hover {
    background-color: black;
    color: white;
}
